@import url('login.css');
@import url('chat.css');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

:root {
    --purple: #505285;
    --white: #F1F1F1;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--purple);
    overflow: hidden;
}

main {
    width: 100%;
}

